.cardWrapper{
    composes: cardWrapper from "../../../App.module.css";
    /* display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem; */
}

.actionButtonWrap{
    margin-top: 40px;
}