.navbar{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    color: #c4c5c5;
    text-decoration: none;
    
}

.cabin{
    height: 35px;
    width: 35px;
    margin-right: 6px;
}

.logout{
    background-color: transparent;
    font-size: 18px;
    color: #07f;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s;
    position: relative;
}

.logout:hover{
    object-fit:cover;
    background-color: #07f;
    color: #fff;
}

/* .logout:hover::after{
    content: '';
    position: absolute;
    width: 95%;
    height: 2px;
    bottom: -5px;
    left: 3px;
    background: #07f;   
    transition: all 0.3s; 
} */

.navRight{
    display: flex;
    align-items: center ;
}

.avatar{
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #07f;
    margin: 0 15px 0 15px;
}