.navbar{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text{
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5;
    color: #c4c5c5;
    text-decoration: none;
    
}

.cabin{
    height: 35px;
    width: 35px;
    margin-right: 6px;
}

.logout{
    background-color: #0077FF;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s;
}

.logout:hover{
    background-color: #014a9c;
}

.navRight{
    display: flex;
    align-items: center ;
}

.avatar{
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #07f;
    margin: 0 15px 0 15px;
}