.roomsHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.left{
    display: flex;
    align-items: center;   
}

.heading{
    font-size: 20px;
    font-weight: bold;
}

.searchBox{
    background: #262626;
    margin-left: 20px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    min-width: 300px;
    border-radius: 20px;
}

.searchInput{
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    color: #fff;
    width: 100%;
}

.heading{
    position: relative;
}

.heading::after{
    content: '';
    position: absolute;
    bottom: -24px;
    left: 0px;
    width: 1000%;
    height: 3px;
    background: #07f;
}

.startRoomButton{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background: #20bd5f;
    border-radius: 20px;
    padding: 5px 20px; 
    color: #fff;
    transition: all .3s ease-in-out;
}

.startRoomButton span {
    font-size: 16px;
    margin-left: 10px;
}

.startRoomButton:hover{
    background: #136735;
}

.roomList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 60px;
}